.battle-boards-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.board-wrapper {
  text-align: center;
  h4 { color: #0a2540; margin-bottom: 10px; letter-spacing: 2px; }
}

.turn-indicator {
  text-align: center;
  .your-turn { color: #2ecc71; text-shadow: 0 0 10px rgba(46, 204, 113, 0.3); }
  .enemy-turn { color: #e67e22; }
  .winner-msg { color: #2a16c1 }
  h3 { margin: 5px 0;}
}

.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}