body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a2540;
  background-color: #f1f0f0;
}


.navbar {
  background-color: #9fcff2;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
}

.logo h1 {
  margin: 0;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}


.logo h1:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.page {
  text-align: center;
  margin-top: 60px;
  font-size: 1.8rem;
}

.auth-container {
  background: white;
  max-width: 380px;
  margin: 70px auto;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

input {
  margin-bottom: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd9e3;
  font-size: 0.95rem;
}

input:focus {
  outline: none;
  border-color: #0077cc;
}

button {
  margin-top: 10px;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.error-message {
  color: #e63946;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

input.error-input {
  border-color: #e63946;
  margin-bottom: 12px;
}